.SignUpCustomerPage {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url('../assets/main_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 102%;   
}

.sign-up-panel{
    margin-top: 50%;
    
} 

.sign-up-panel-font{
    color : white !important;
}
.sign-up-panel-font label{
    color: white !important;
}

.button-style button{
    background: rgba(0,0,0,0) !important;
    color: rgba(255,255,255) !important;
    border-style: solid !important;
    border-width: 1px ! important;
}

.button-style2{
    background: rgba(0,0,0,0) !important;
    color: rgba(255,255,255) !important;
    border-style: solid !important;
    border-width: 1px ! important;
}
