.mt-50 {
    margin-top: 40px; 
}

.StorePage {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url('../assets/store_page.jpeg');
    height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

